<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">password</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- For instance creation -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- To force Hibernate to use a singleton of Ehcache CacheManager -->
		<!--property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property-->

		<!-- Enable Hibernate's automatic session context management -->
		<!--property name="current_session_context_class">thread</property> <property 
			name="cache.use_query_cache">true</property> <property name="cache.use_second_level_cache">true</property> 
			<property name="cache.use_structured_entries">true</property> <property name="cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property> 
			<property name="net.sf.ehcache.configurationResourceName">/hibernate-config/ehcache.xml</property -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.sohan.hibernate.dto.UserDetails" />
		<mapping class="com.sohan.hibernate.dto.Vehicle" />
		<!-- mapping class="com.sohan.hibernate.dto.TwoWheeler" />
		<mapping class="com.sohan.hibernate.dto.FourWheeler" /-->

	</session-factory>

</hibernate-configuration>
